.users {
  color: rgb(0, 0, 0);
  margin: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.userContainer {
  display: flex;

  align-items: center;
  margin-bottom: 30px;
}
.userContainer img {
  width: 60px;
  height: 60px;
  margin-right: 30px;
}
.name {
  width: 200px;
}
.AddToFriendsButton {
  border: 1px solid rgb(218, 26, 64);
  padding: 10px;
  position: relative;
  left: 10%;
  font-size: 15px;
  font-weight: 500;
}
.AddToFriendsButton:hover {
  background-color: rgb(218, 26, 64);
  color: white;
}
.online {
  background-color: rgb(8, 184, 8);
  height: 8px;
  width: 8px;
  border-radius: 8px;
  position: absolute;
  margin-top: 54px;
  margin-left: 54px;
  border: 2px solid white;
}
