.header {
  grid-area: h;
  background-color: rgb(220, 20, 60);
  overflow-y: hidden;
  overflow-x: hidden;
}
.header img {
  width: 60px;
  height: 60px;
  margin-left: 15px;
}
.login {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  text-decoration: none;
}
.login a {
  color: rgb(255, 255, 255);
}
.signup {
  padding: 20px;
  text-decoration: none;
}
.ifAuth {
}
.ifAuth img {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 20px;
}
