.nav {
  grid-area: n;
  background-color: rgb(26, 26, 26);
  border-right-style: solid;
  border-width: 1px;
}

.item a {
  color: rgb(220, 20, 60);
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: stretch;
  text-decoration: none;
}
.item a.active {
  color: white;
  border-left-color: white;
  border-width: 2px;
  border-left-style: solid;
}

.item a.active img {
  opacity: 1;
}

.item img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  opacity: 0.5;
}
.signOut img {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-left: 5px;
  bottom: 30px;
}
