.App {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  height: 100vh;
}
.AppContent {
  grid-area: c;
  background-color: rgb(44, 44, 44);
  overflow-y: hidden;
  overflow-x: hidden;
}
