.dialogsPage {
  display: flex;
}
.dialogsContainer {
  flex: 0.3;
  max-width: 300px;
  border-right: 1px solid rgb(230, 230, 230);
  height: 100vh;
}
@media (max-width: 900px) {
  .dialogsContainer {
    max-width: 80px;
  }
}
@media (max-width: 460px) {
  .dialogsContainer {
    max-width: 0px;
  }
}

.dialogs_list {
  overflow-y: auto;
  height: 100%;
}

.dialogs {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 13px;
  border-bottom: 1px solid rgb(230, 230, 230);
  height: 70px;
}

.dialogs:hover {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(230, 230, 230);
  background-color: rgb(240, 240, 240);
}

.dialogs img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
.dialogsName {
  position: relative;
  margin-left: 80px;
  bottom: 40px;
}

.messagesContainer {
  flex: 0.7;
  justify-content: left;
  margin: 10px;
}

.noDialogs {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.title {
  text-align: start;
  font-size: 22px;
  font-weight: 700;
  margin-left: 10px;
}
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(230, 230, 230);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(201, 201, 201);
}
